<div id = "hp-content">
	<!-- TA Classes column -->
	<div class = "hp-column" id = "hp-ta-classes">
		<legend class = "hp-column-title"><h2>My TA Classes</h2></legend>
		<div class = "hp-column-list">
			<a href = "/class_ta/1">
				<div class = "hp-classInfo">
					<h3 class = "hp-classTitle">9.00 Intro to Psychology</h3>
				</div>
			</a>

			<!-- Add class button -->
			<a href = "/class_ta/1">
				<div class = "hp-addClass">
					<h3>+</h3>
				</div>
			</a>
		</div>
		<div class = "empty-div"></div>
	</div>

	<!-- Bookmark column -->
	<div class = "hp-column" id = "hp-bookmarks">
		<legend class = "hp-column-title"><h2>Bookmarks</h2></legend>
		<div class = "hp-column-list">
			<% for bookmark in current_user.bookmarks %>
			<a href = "<%= '/class_ta/' + Resource.find(bookmark.resource_id).class_ta_id.to_s + '?resource_id=' + bookmark.resource_id.to_s %>">
				<div class = "hp-classInfo">
					<h3 class = "hp-classTitle">Bookmark <%= bookmark.resource_id %></h3>
				</div>
			</a>
			<% end %>
		</div>
		<div class = "empty-div"></div>
	</div>

	<!-- Viewed Classes column -->
	<div class = "hp-column" id = "hp-viewed">
		<legend class = "hp-column-title"><h2>Viewed Classes</h2></legend>
		<a href = "/class_ta/1">
			<div class = "hp-classInfo">
				<h3 class = "hp-classTitle">9.00 Intro to Psychology</h3>
			</div>
		</a>
		<a href = "#">
			<div class = "hp-classInfo">
				<h3>7.03 Genetics</h3>
			</div>
		</a>
		<a href = "#">
			<div class = "hp-classInfo">
				<h3>16.00 Intro to AeroAstro</h3>
			</div>
		</a>
		<div class = "empty-div"></div>
	</div>
</div>
<script type="text/javascript">
	var addenrollment;
 	hpBuild();
</script>