<h1>Hello! Welcome to <span style = "color: red"><%= @class.name %></span></h1>

<h3>Details</h3>
<ul>
	<li><strong>Course number</strong>: <%= @class.number %></li>
	<li><strong>Course Name</strong>: <%= @class.name %></li>
	<li><strong>Description</strong>: <%= @class.description %></li>
</ul>
