/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require select2
 *= require bootstrap.min
 *= require_tree .
 */

 @font-face {
  font-family: 'Glyphicons Halflings';
  src: url('glyphicons-halflings-regular.eot');
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('glyphicons-halflings-regular.woff') format('woff'), 
       url('glyphicons-halflings-regular.ttf') format('truetype'), 
       url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face{ 
	font-family: 'GandhiSans';
	src: url('GandhiSans/gandhisans-regular-webfont.eot');
	src: url('GandhiSans/gandhisans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('GandhiSans/gandhisans-regular-webfont.woff') format('woff'),
	     url('GandhiSans/gandhisans-regular-webfont.ttf') format('truetype'),
	     url('GandhiSans/gandhisans-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
		font-family: 'BebasNeueBold';
		src: url('BebasNeueBold/bebasneue_bold-webfont.eot');
		src: url('BebasNeueBold/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
		     url('BebasNeueBold/bebasneue_bold-webfont.woff') format('woff'),
		     url('BebasNeueBold/bebasneue_bold-webfont.ttf') format('truetype'),
		     url('BebasNeueBold/bebasneue_bold-webfont.svg#webfont') format('svg');
	}

html, body {
	font-family: 'GandhiSans';
}

h1, h2, h3 {
	font-family: 'BebasNeueBold';
}
input{
	border-radius: 5px;
	background-color: #fff;
	padding: 0 11px 0 13px;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
	border: 1px solid transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}