// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Gandhi Sans;
}
body {
	/*background-color: black;*/
	background: url(blueBackground.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: Gandhi Sans;
}
h1, h2, h3 {
	font-family: Bebas Neue Bold;
	margin-top: 0px;
}



#cp-content {
	margin: 10px;
	/*overflow: hidden;*/
}

#cp-results {
	width: 400px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	float: left;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 3px;
	position: relative;
	/*overflow: auto;*/
}
	#cp-searchOverlay {
		pointer-events: none;
		height: 40px;
		position: absolute;
	}
		.cp-icon {
			vertical-align: middle;
			float: right;
			margin-top: 10px;
		}
	#cp-search {
		padding: 10px;
		border: 1px solid #ccc;
		height: 40px;
		border-radius: 20px;
		/*box-shadow: 2px 2px 4px #ccc;*/
	}

	#cp-filter {
		vertical-align: top;
	}
	.cp-filterOption {
		cursor: pointer;
	}
	#cp-filterBtn {
		padding: 10px;
	}
	
	#cp-resultsDisplay {
		margin-top: 10px;
		width: 100%;
		padding: 10px;
		overflow: auto;
	}
		.cp-result {
			height: 100px;
			background-color: white;
			box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
			margin-bottom: 10px;
			position: relative;
			overflow: hidden;
		}
			.cp-result-starFilled {
				position: absolute;
				top: 35px;
				margin-left: 10px;
				height: 30px;
				/*opacity: 0;*/
				cursor: pointer;
			}
			.cp-result-star {
				vertical-align: middle;
				height: 30px;
				margin-left: 10px;
				float: left;
			}
			.cp-result-title {
				margin: 0;
				height: 33px;
				width: 200px;
				text-overflow: ellipsis;
				margin-top: 35px;
				float: left;
				overflow: hidden;
				margin-left: 10px;
				/*background-color: lightgrey;*/
			}
			.cp-result-titleCont {
				float: left;
				margin-left: 10px;
				width: 200px;
				text-overflow: ellipsis;
				/*background-color: lightgrey;*/
			}
			.cp-result-icon {
				height: 80px;
				margin-top: 10px;
				margin-left:10px;
				float: left;
				cursor: pointer;
			}
			.cp-results-upvotes {
				float: right;
				margin-top: 35px;
				margin-right: 10px;
			}

	#cp-uploadOverlay {
		color: white;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0;
		pointer-events: none;
		background-color: rgba(200, 200, 200, 0.7);
	}
	#cp-uploadBtn {
		float: right;
		padding: 0;
		overflow: hidden;
		border-radius: 8px;
		border: 1px solid rgba(0, 119, 169, 1);
		background-color: #81BFFC;
	}
	#cp-uploadBtn:hover {
		background-color: #2671B6;
	}

	/* Twitter-like glowing box */
	input[type=text], textarea {outline:none;}
	 
	input[type=text]:focus, textarea:focus {
		box-shadow: 0 0 5px rgba(81, 203, 238, 1);
		-webkit-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
		-moz-box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	}

#cp-viewer {
	height: 100%;
	width: 600px;
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
	padding: 10px;
	border-radius: 3px;
	overflow: auto;
} 
#cp-rbottom{
	width: 80%;
	padding: 25px;
	padding-bottom: 5px;
	height: 170px;
	margin-left: auto;
	margin-right: auto;
}
#cp-rdes{
	text-align: center;
	font-family: Bebas Neue Bold;
	font-size: 20px;
	width: inherit;
	margin-left: auto;
	margin-right: auto;
	
}
#cp-rfeedb{
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#cp-video{
	width: 500px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}
#cp-problem{
	width: 700px;
	padding: 25px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	overflow-y:scroll;
	overflow-x: hidden; 
}
#cp-audio{
	width: 300px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10%;
}
#cp-website{
	width: 700px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}
#cp-rfeedb-but{
	padding: 5px;
	padding-right: 15px;
	margin-left: 20px;
}

#um-content{
	margin: 10px;
	height: 400px;
	padding: 10px;
}

#um-fileOpt{
	width: 180px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	float: left;
	padding: 10px;
	border-radius: 3px;
	position: relative;
	margin: 10px;
}

#um-inputs{
	height: 100%;
	/*width: 370;*/
	display: inline-block;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 3px;
	margin: 0 auto;
}

textarea {
   resize: none;
}

#notice {
	position: absolute;
	z-index: 1;
	margin: auto;
	width: 400px;
	margin-left: -200px;
	left: 50%;
	top: 50%;
	text-align: center;
}