// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

@font-face {
	font-family: "BebasNeueBold";
	src: font-url('BebasNeueBold.otf');
}

@font-face {
	font-family: "GandhiSans";
	src: font-url('GandhiSans-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GandhiSans";
	src: font-url("GandhiSans-Italic.otf");
	font-weight: normal;
	font-style: italic;
}


@font-face {
	font-family: "GandhiSans";
	src: font-url("GandhiSans-Bold.otf");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "GandhiSans";
	src: font-url("GandhiSans-BoldItalic.otf");
	font-weight: bold;
	font-style: italic;
}