.login-all{
	width: 100%;
	height: 100%;
	background-image: url(login/study.jpg);
}

.login-signin{
	float: right;
	.login-signin-password{
		width: 200px;
		vertical-align: middle;
		margin: 10px;
		.login-signin-remember{
			#user_remember_me{
				margin-top: 5px;
			}
			label{
				vertical-align: top;
				margin-top: 2px;
			}
		}
		input{
			width: inherit;
		}
	}
	.login-signin-submit{
		vertical-align: top;
		margin-right: 30px; 
		margin-top: 10px;
		color: #006dcc;
	}
	.login-signin-email{
		width: 200px;
		vertical-align: middle;
		margin: 10px;
		margin-top: 2px;
		.login-signin-forgot{
			margin-top: 3px;
			a{
				color: white !important;
			}
			
		}
		input{
			width: inherit;
		}
	}

}
.inlineb{
	display: inline-block;
}
.login-bottom{
	vertical-align: middle;
	padding-top: 200px;
	.login-about{
		width: 740px;
		height: 400px;
		img{
			width: inherit;
			height: inherit;
			border-radius: 20px;
		}
	}

	.login-signup{
		width: 400px;
		vertical-align: top;
		padding: 50px;
		height: 400px;
		text-align: center;
	}
}
