#navbar {
	height: 65px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 100;
	
	color: #ffffff;
	  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	  background-color: #006dcc;
	  *background-color: #2671B6;
	  background-image: -moz-linear-gradient(top, #609FDB, #2671B6);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#609FDB), to(#2671B6));
	  background-image: -webkit-linear-gradient(top, #609FDB, #2671B6);
	  background-image: -o-linear-gradient(top, #609FDB, #2671B6);
	  background-image: linear-gradient(to bottom, #609FDB, #2671B6);
	  background-repeat: repeat-x;
	  border-color: #2671B6 #2671B6 #002a80;
	  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff609FDB', endColorstr='#ff2671B6', GradientType=0);
	  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

#navContainer {
	margin: 10px;
	font-family: GandhiSans;
}
	#navLeft {
		float: left;
		/*background-color: lightgrey;*/
		margin-left: 10px;
		height: 100%;
	}
		#logo {
			float: left;
			margin-right: 25px;
		}
		#search {
			border: 0;
			border-radius: 5px;
			margin-top: 5px;
			margin-left: 20px;
			padding: 10px;
			font-size: 14pt;
			min-width: 150px;
			max-width: 500px;
			color: black;
		}
	#navRight {
		float: right;
		/*background-color: lightgrey;*/
		height: inherit;
		margin-right: 0;
		right:0;
		position: fixed;
		/*width: 400px;*/
		/*overflow: auto;*/
	}
		#profPic {
			/*height: 90%;*/
		}
		#name {
			display: inline-block;
			font-size: 1.25em;
			margin-left: 10px;
			vertical-align: top;
			margin-top: 15px;
			font-family: BebasNeueBold;
		}
		#gear {
			vertical-align: top;
			margin-top: 11px;
			margin-left: 20px;
			font-size: 17pt;
		}
		#logOut {
			cursor: pointer;
		}
		#logOut:hover {
			color: #ccc;
		}
		#profImgOverlay {
			position: absolute; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0); opacity: 0; border-radius: 22.5px;
		}
		#profImgOverlay:hover {
			background-color: rgba(0, 0, 0, 0.7);
			opacity: 1;
		}

.select2-container {
	min-height: 40px;
	max-height: 40px;
	padding-top: 6px;
}

.select2-choice {
	min-height: 40px;
	max-height: 40px;
	padding-top: 6px;
	margin-top: -12px;
	font-size: 20pt;
}